* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* shared style */
.btn {
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  background-color: #006a50;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

/* main style */
header {
  background-color: #f5f5f5;
}

nav {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.nav-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.signIn-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #006a50;
  color: #006a50;
  border-radius: 8px;
}

#hero .hero-container {
  width: 80%;
  max-width: 1280px;
  margin: 20px auto 0;
  padding: 80px 60px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  gap: 64px;
  align-items: center;
}
.hero-content {
  max-width: 622px;
}
.hero-content h4 {
  font-size: 24px;
  font-weight: 600;
  color: #0e0e0e50;
  margin-bottom: 16px;
}
.hero-content h2 {
  font-size: 56px;
  color: #0e0e0e;
  margin-bottom: 24px;
  font-weight: 800;
}
