* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* shared style */

.section-heading {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.card-title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #0e0e0e;
  opacity: 0.8;
}

.card-para {
  margin-top: 12px;
  color: #0e0e0e;
  opacity: 0.7;
  line-height: 24px;
}
.btn {
  padding: 17px 34px;
  border-radius: 8px;
  border: none;
  background-color: #006a50;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.btn-blue {
  background-color: #5490f5;
}
.btn-green {
  background-color: #09a15c;
}
.btn-yellow {
  background-color: #ffc239;
}
.bg-blue {
  background-color: rgba(84, 144, 245, 0.2);
}
.bg-green {
  background-color: #c6e4d6;
}
.bg-yellow {
  background-color: #f7ebcf;
}
.mt-26 {
  margin-top: 26px;
}
/* main style */

header {
  background-color: #f5f5f5;
}

nav {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.nav-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #0e0e0e;
}
.signIn-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #006a50;
  color: #006a50;
  border-radius: 8px;
}

/* hero section */
#hero .hero-container {
  width: 80%;
  max-width: 1280px;
  margin: 20px auto 0;
  padding: 80px 60px;
  background-color: #c6e4d6;
  border-radius: 24px;
  display: flex;
  gap: 64px;
  align-items: center;
}
.hero-content {
  max-width: 622px;
}
.hero-content h4 {
  font-size: 24px;
  font-weight: 600;
  color: #0e0e0e50;
  margin-bottom: 16px;
}
.hero-content h2 {
  font-size: 56px;
  color: #0e0e0e;
  margin-bottom: 24px;
  font-weight: 800;
}

/* Feature Section */
#feature {
  padding: 80px 0;
}
#feature .feature-container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.card {
  padding: 0 24px 24px;
  border: 1px solid #0e0e0e15;
  border-radius: 16px;
}
.card img {
  margin-top: 25px;
}

/* About Section */

#about .about-container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
.about-content p {
  margin-bottom: 32px;
  line-height: 24px;
  font-size: 16px;
  color: #0e0e0e;
  opacity: 0.7;
}
.about-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.about-card .about-card-content {
  padding: 32px;
  max-width: 410px;
  border-radius: 16px;
}

.about-description {
  margin-top: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 48px 24px;
}
.about-quote {
  position: relative;
}
.about-description p.quote-para {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.8);
  line-height: 24px;
  position: absolute;
  top: 34%;
}
.advisor-heading {
  margin-top: 65px;
}
.about-description .advisor-heading h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20;
  font-weight: 600;
}
.about-description .advisor-heading p {
  margin-top: 4px;
  color: rgba(14, 14, 14, 0.6);
  line-height: 24px;
}
