/* for small device  */
@media screen and (max-width: 576px) {
  /* nav Section */
  .nav-heading h2 {
    font-size: 1.5rem;
  }
  .signIn-btn {
    padding: 8px 15px;
    font-size: 1rem;
  }

  /* hero section */
  #hero .hero-container {
    padding: 0px 0px;
    flex-direction: column;
  }
  .hero-content h4 {
    padding: 20px;
  }
  .hero-content h2 {
    padding: 10px 20px;
    font-size: 2.5rem;
  }
  .hero-content .explore-btn {
    text-align: center;
  }
  .explore-btn .btn {
    padding: 17px 16px;
  }
  .hero-img img {
    width: 100%;
    margin-bottom: 30px;
  }
  /* feature section */
  .section-heading {
    font-size: 1.5rem;
  }
  .card-content {
    flex-direction: column;
  }

  /* about section */
  .about-content .section-heading {
    text-align: center;
  }
  .about-content p {
    text-align: center;
  }
  .about-card-content {
    text-align: center;
  }
  .about-card {
    flex-direction: column;
  }
  .about-description {
    padding: 20px 24px;
  }
  .about-description p.quote-para {
    font-size: 0.8rem;
  }
  .about-description .advisor-heading {
    margin-top: 400px;
  }
  .about-description .advisor-heading p {
    font-size: 0.8rem;
  }

  /* opinion section */
  .opinion-container .section-heading {
    text-align: center;
  }
  .opinion-content {
    padding: 0px;
  }
  .opinion-content .table-heading {
    padding: 10px;
  }
  .opinion-content td {
    padding: 10px;
    font-size: 0.6rem;
  }
  .opinion-content td select {
    padding: 10px 16px;
    font-size: 0.6rem;
  }
}

/* Done: added about & opinion section  responsive*/
